<app-nav></app-nav>
<h1>About our Team</h1>

<sky-alert alertType="warning">
  <strong>Warning!</strong>We never check our email.
</sky-alert>

<div class="tempate-about-teams">
  <div *ngFor="let member of team" class="tempate-about-team">
    <sky-key-info [layout]="'horizontal'">
      <sky-key-info-value>
        {{ member.name }}
      </sky-key-info-value>
      <sky-key-info-label>
        <a routerLink="/about/{{ member.id }}">
          Learn More
        </a>
      </sky-key-info-label>
    </sky-key-info>
  </div>
</div>